<!DOCTYPE html>
<html>
<head>
    <title>CSV EDA Tool</title>
</head>

<body>

<h1>CSV EDA Tool</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload CSV</button>
</form>

{% if preview %}

<h2>Dataset Preview</h2>
{{ preview | safe }}

<h2>Dataset Info</h2>
<p>Rows: {{ rows }}</p>
<p>Columns: {{ cols }}</p>

<h2>Clean Missing Values</h2>

<form method="POST">

<label>Select Column:</label>

<select name="column">
{% for column in missing.keys() %}
<option value="{{ column }}">{{ column }}</option>
{% endfor %}
</select>

<label>Method:</label>

<select name="method">
<option value="unknown">Fill with "Unknown"</option>
<option value="mean">Fill with Mean</option>
<option value="median">Fill with Median</option>
<option value="drop">Drop Rows</option>
</select>

<button type="submit">Apply Cleaning</button>

</form>

<ul>
{% for column, value in missing.items() %}
<li>{{ column }} : {{ value }}</li>
{% endfor %}
</ul>

{% endif %}

</body>
</html>